body {
    background-color: #f1f1f1;
}
.container {
    background-color: white;
}
h1 {
    font-size: 30px;
    color: #9900ff;
}
h2 {
    font-size: 15px;
    color: #01febf;
}
h3 {
    font-size: 15px;
    color: #01a2e2;
}
.navbar-nav {
    flex: 1;
    justify-content: flex-end;
} 
#largerimage {
    width: 350px;
    height: 350px;
}
#floatsummaryimg {
    float: left;
}
#humfloat {
    float: left;
}
#maxtempfloat {
    float: left;
}
#cloudfloat {
    float: left;
}
#wspdfloat {
    float: left;
}
.navbar-brand {
    background-color: #fc018b;
}

img {
    width: 200px;
    height: 200px;
}

@media (max-width: 500px) {
    .col-md-5 {
        float: left;
        width: 100%;
    }
} 
