body {
    background-color: #f1f1f1;
}
.container {
    background-color: white;
}
#contsize {
    max-height: fit-content;
}
h1 {
    font-size: 30px;
    color: #9900ff;
}
h2 {
    font-size: 15px;
    color: #01febf;
}
h3 {
    font-size: 15px;
    color: #01a2e2;
}
.navbar-nav {
    flex: 1;
    justify-content: flex-end;
} 
#largerimage {
    width: 500px;
    margin: auto;
}
#floatsummaryimg {
    float: left;
}
#humfloat {
    float: left;
}
#maxtempfloat {
    float: left;
}
#cloudfloat {
    float: left;
}
#wspdfloat {
    float: left;
}
.navbar-brand {
    background-color: #fc018b;
}

img {
    width: 200px;
    height: 200px;
}
#tempborder {
    border: 2px solid black;
}
#humborder {
    border: 2px solid black;
}
#cloudborder {
    border: 2px solid black;
}
#wsborder {
    border: 2px solid black;
}
#compsizing {
    height: 1090px;
}

@media (max-width: 500px) {
    .col-md-5 {
        float: left;
        width: 100%;
    }
    .row-cols-2 {
        float: none;
    }
} 
